<li>
	{{burger}}

	<button class="change-status btn-outline-secondary" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}I wanna eat it again!{{else}}Eat me now!{{/if}}
	</button>
	<br>
</li>
